.right
  float right

.users-wrapper
  .profile-thumbnail
    text-align center
    img
      border-radius 15px
      width 32px


.flakes-actions-bar
  input
    margin-right 10px
    margin-top 10px
