.right
  float right

.users-wrapper
  .profile-thumbnail
    text-align center
    img
      border-radius 15px
      width 32px


.flakes-actions-bar
  input
    margin-right 10px
    margin-top 10px



.cholesterol-line, .total-fat-line, .total-carb-line, .sodium-line, .protein-line
  &:hover
    background-color lightgoldenrodyellow
    transition-duration .5s

.flakes-frame
  .flakes-navigation > ul > li
    &.secondary
      font-weight lighter
      font-size smaller
      margin-left 10px